
/image_classification/data
/generative_model/data
/image_classification/models
/labs/data

image_classification/notebook copy.ipynb
image_classification/models.zip
image_classification/kieruczenko_ziarek_project3_predictions.csv
image_classification/kieruczenko_ziarek_project3_notebook.ipynb
image_classification/kieruczenko_ziarek_project3.zip
